<div class="uk-container">
    <nav class="uk-navbar-containter" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active uk-margin-medium-right uk-margin-medium-lest "> <strong>Quem Somos Nós?</strong></li>
            </ul>
        </div>

        <body>
            <header>
                <h1 class="titulo-principal">Salão de Beleza</h1>
            </header>
            <img id="banner" src="banner.jpg">
            <!--Aqui será inserido o banner do salão-->

            <div class="principal">
                <h2 class="titulo-centralizado">Nosso Salão</h2>

                <p>Localizados no coração da cidade <strong>nosso salão</strong> traz para o mercado o que há demais atualizado para nossos clientes. Fundado em 2020, a nosso salão se destaca na cidade e conquista novos clientes a cada dia.</p>

                <p id="missao"><em>Nossa missão é: <strong>"Proporcionar serviços de qualidade internacional para nossos clientes</strong>.</em></p>

                <p>Oferecemos profissionais experientes e antenados às mudanças no mundo da moda. O atendimento possui padrão de excelência e agilidade, com satisfação garantida.</p>
            </div>

            <div class="beneficios">
                <h3 class="titulo-centralizado">Vantagens e beneficios</h3>

                <ul>
                    <li class="itens">Atendimento de alto nível aos Clientes </li>
                    <li class="itens">Espaço climatizado </li>
                    <li class="itens">Localização privilegiada </li>
                    <li class="itens">Profissionais especializados </li>
                    <li class="itens">Pontualidade </li>
                    <li class="itens">Limpeza </li>

                </ul>
                <img src="beneficios.jpg" class="imagembeneficios">
            </div>

            <section class="mapa">
                <h3 class="titulo-principal">Nossa Localização</h3>
                <p><strong>Localização Privilegiada</strong></p>

                <div class="mapa-conteudo">
                    <iframe src="" width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </section>

            <footer>
                <img src="logo-branco.png">
                <p class="copyright">&copy; Nosso Salão - 2021</p>
                <!--preciso trabalhar melhor esse footer-->
            </footer>

        </body>