<div class="uk-container">
    <div class="uk-grid uk-margin-small-top">
        <div class="uk-width-1-2 uk-margin-small-top">
            <div class="uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                <img src="https://picsum.photos/200" alt="" uk-cover>
                <!-- Moldura para inserirmos as imagens -->
                <canvas width="700" height="600"> </canvas>
            </div>
            <div>
                <div class="uk-card-body">
                    <h3 class="uk-card-title"> Serão os produtos </h3>
                    <p> <strong> Aqui serão os preços </strong> </p>
                    <button class="uk-button uk-button-default">
                        <span class="uk-icon uk-margin-small-right" uk-icon="icon: cart"></span>
                    Adicionar</button>
                </div>
            </div>
        </div>
    </div>
</div>