<div class="uk-flex-center" uk-grid>
    <div class="uk-width-1-3@m">
        <!---->
        <p class="uk-text-center uk-margin-large-top uk-margin-medium-bottom">
            <span class="uk-icon" uk-icon="icon: image; ratio:2"></span>
            <!--=Aqui vou Inserir posteriomente o icone do salao-->
        </p>

        <app-loading *ngIf="busy"></app-loading>

        <!--Definições do Card de Login-->
        <form [formGroup="form" ] *ngIf="!busy">
            <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small">
                <h3 class="uk-card-title">Recuperação de Senha</h3>
                <div class="margin">
                    <input class="uk-input uk-form-large " formControlName="document" type="text" mask="000.000.000-00" placeholder="CPF" [ngClass]="{'uk-form-danger': (!form.controls.username.valid && !form.controls.username.pristine) }">
                </div>
                <div class="uk-margin uk-text-right">
                    <button class="uk-button uk-button-default" [disabled]="form.invalid" (click)="submit()">Recuperar Senha</button>
                </div>
            </div>
        </form>

        <p class="uk-text-center" *ngIf="!busy">
            <a [routerLink]="['/login']" class="uk-button uk-width-1-1 uk-button-large uk-button-primary uk-margin-small-bottom"> Voltar </a>
        </p>

    </div>
</div>